@font-face {
    font-family: 'Carocci Web Bold';
    src: url('caroccibol-webfont.woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Carocci Web Italic';
    src: url('carocciita-webfont.woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Carocci Web Regular';
    src: url('caroccireg-webfont.woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Carocci Sans Bold';
    src: url('caroccisansbol-webfont.woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Carocci Sans Regular';
    src: url('caroccisansreg-webfont.woff');
    font-weight: normal;
    font-style: normal;
}
